#header-icon{
    border-radius: 90px;
}
#header-icon img{
    width: 35px;
    height:35px;
    float:left;
    margin:5px;
}
#header-title {
    margin:5px;
    float: left;
}
#header-title h1{
    float:inline-end;
} 
#header-title p {
    line-height:0px;
}
#header-list li {
    list-style: none;
    float: left;
    font-size: 5px;
    margin: 17px 3px 3px 3px;
}
#header-list a{
    color: white;
}