#site-title-main {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:50px;
    font-weight: bold;
    line-height:50px;
}
#site-title-sub {
	font-size: 15px;
}